.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	height: 85px;

	@include mq($desktop-width, 'max-width') {
		display: none;
	}

	> ul {
		list-style: none;
		margin: 10px 0;
		padding-left: 0;
		text-align: center;

		> li {
			display: inline;
			position: relative;
			margin: 15px 20px;
			border: 2px solid transparent;
			padding: 5px 12px;

			&:hover {
				border: 2px solid white;
			}

			&:hover > a,
			&.focus > a {
			}

			a {
				display: inline-block;
			}

		}

		> li.current-menu-item {
			border: 2px solid white;
		}

		li.current-menu-parent {
			border: 2px solid white;

			ul {
				left: 0;

				li.current-menu-item a {

					border-bottom: 2px solid white;
				}
			}

		}

		ul {
			float: left;
			position: absolute;
			top: 1.1em;
			left: -999em;
			z-index: 99999;
			width: 600px;
			padding-top: 20px;

			> li {

				display: inline;
				float: left;
				padding: 5px 20px 5px 20px;
				border-top: 3px solid white;

				&:hover a {
					border-bottom: 2px solid white;
				}

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {

			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: 0;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		font-weight: 400;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	display: none;
	float: right;
	color: white;
	margin-top: 15px;


	@include mq($desktop-width, 'max-width') {
		display: block;
	}

}
